:root {
  --gradient-color: linear-gradient(
    95deg,
    hsl(257, 64%, 98%) -7%, /* Light color */
    hsl(0, 85%, 50%) 112% /* Dark color */
  );
  
    --first-color-light: hsl(256, 64%, 88%);
    --first-color-lighten: hsl(256, 58%, 94%);
    --white-color: hsl(0, 0%, 100%);
    --body-color: hsl(256, 100%, 98%);
    --body-font: "Montserrat", sans-serif;
    --h1-font-size: 1.5rem;
  }
    .range__slider {
    background-color: rgba(208, 208, 208, 0.857);
    box-shadow: 0 4px 12px hsla(256, 72%, 24%, 0.2);
  }
  .range__slider-line {
    background: var(--gradient-color);
  }
  .range__thumb {
    height: 2rem;
    background-color: var(--first-color-lighten);
    border-radius: 50px;
    box-shadow: 0 0 12px hsla(256, 72%, 24%, 0.2);
    position: absolute;
  }
  .range__value {
    position: absolute;
    top: 100%;
    transform: rotate(-360deg);
  }
  .range__value-number {
    transform: rotate(45deg);
    color: white;
    font-size: 1rem;
  }
  .range__input {
    appearance: none;
    width: 110%;
    height: 16px;
    position: absolute;
    opacity: 0;
  }
  .range__input::-webkit-slider-thumb {
    appearance: none;
    width: 32px;
    height: 32px;
  }
  .range__input::-webkit-slider-thumb:hover {
    cursor: pointer;
  }
  .second-range__input {
    appearance: none;
    width: 100%;
    height: 16px;
    position: absolute;
    opacity: 0;
  }
  .second-range__input::-webkit-slider-thumb {
    appearance: none;
    width: 32px;
    height: 32px;
  }
  .second-range__input::-webkit-slider-thumb:hover {
    cursor: pointer;
  }